$base-size: 16px;
$sofia-pro-light: 'sofia-pro-light', sans-serif;
$sofia-pro: 'sofia-pro', sans-serif;
$sofia-pro-medium: 'sofia-pro-medium', sans-serif;
$sofia-pro-bold: 'sofia-pro-bold', sans-serif;
$jumble: 'jumble', sans-serif;
$blue-01: #42CDE2;
$blue-02: #0094fc;
$yellow-01: #FBE477;
$purple-01: #6969ff;
