$sofia-pro-light: 'sofia-pro-light', sans-serif;
$sofia-pro: 'sofia-pro', sans-serif;
$sofia-pro-medium: 'sofia-pro-medium', sans-serif;
$sofia-pro-bold: 'sofia-pro-bold', sans-serif;
$jumble: 'jumble', sans-serif;

$blue-01: #42CDE2;
