@import 'functions';

@mixin custom-text($minimum, $maximum) {
  @for $index from $minimum through $maximum {
    @responsive {
      .custom-text-#{$index} {
        font-size: rem($index);
      }
    }
    @variants hover {
      .custom-text-#{$index} {
        font-size: rem($index);
      }
    }
  }
}

@include custom-text(1, 2000);

@mixin custom-height($minimum, $maximum) {
  @for $index from $minimum through $maximum {
    @responsive {
      .custom-h-#{$index} {
        height: rem($index);
      }
    }
    @variants hover {
      .custom-h-#{$index} {
        height: rem($index);
      }
    }
  }
}

@include custom-height(1, 2000);

@mixin custom-width($minimum, $maximum) {
  @for $index from $minimum through $maximum {
    @responsive {
      .custom-w-#{$index} {
        width: rem($index);
      }
    }
    @variants hover {
      .custom-w-#{$index} {
        width: rem($index);
      }
    }
  }
}

@include custom-width(1, 2000);

@mixin custom-padding($minimum, $maximum) {
  @for $index from $minimum through $maximum {
    @responsive {
      .custom-p-#{$index} {
        padding: rem($index);
      }
    }
    @variants hover {
      .custom-p-#{$index} {
        padding: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-pt-#{$index} {
        padding-top: rem($index);
      }
    }
    @variants hover {
      .custom-pt-#{$index} {
        padding-top: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-pr-#{$index} {
        padding-right: rem($index);
      }
    }
    @variants hover {
      .custom-pr-#{$index} {
        padding-right: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-pb-#{$index} {
        padding-bottom: rem($index);
      }
    }
    @variants hover {
      .custom-pb-#{$index} {
        padding-bottom: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-pl-#{$index} {
        padding-left: rem($index);
      }
    }
    @variants hover {
      .custom-pl-#{$index} {
        padding-left: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-py-#{$index} {
        padding-top: rem($index);
        padding-bottom: rem($index);
      }
    }
    @variants hover {
      .custom-py-#{$index} {
        padding-top: rem($index);
        padding-bottom: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-px-#{$index} {
        padding-left: rem($index);
        padding-right: rem($index);
      }
    }
    @variants hover {
      .custom-px-#{$index} {
        padding-left: rem($index);
        padding-right: rem($index);
      }
    }
  }
}

@include custom-padding(1, 2000);

@mixin custom-margin($minimum, $maximum) {
  @for $index from $minimum through $maximum {
    @responsive {
      .custom-m-#{$index} {
        margin: rem($index);
      }
    }
    @variants hover {
      .custom-m-#{$index} {
        margin: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-mt-#{$index} {
        margin-top: rem($index);
      }
    }
    @variants hover {
      .custom-mt-#{$index} {
        margin-top: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-mr-#{$index} {
        margin-right: rem($index);
      }
    }
    @variants hover {
      .custom-mr-#{$index} {
        margin-right: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-mb-#{$index} {
        margin-bottom: rem($index);
      }
    }
    @variants hover {
      .custom-mb-#{$index} {
        margin-bottom: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-ml-#{$index} {
        margin-left: rem($index);
      }
    }
    @variants hover {
      .custom-ml-#{$index} {
        margin-left: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-my-#{$index} {
        margin-top: rem($index);
        margin-bottom: rem($index);
      }
    }
    @variants hover {
      .custom-my-#{$index} {
        margin-top: rem($index);
        margin-bottom: rem($index);
      }
    }
  }

  @for $index from $minimum through $maximum {
    @responsive {
      .custom-mx-#{$index} {
        margin-left: rem($index);
        margin-right: rem($index);
      }
    }
    @variants hover {
      .custom-mx-#{$index} {
        margin-left: rem($index);
        margin-right: rem($index);
      }
    }
  }
}

@include custom-margin(1, 2000);
